Repository everton-dgn/boilerplate_astro_react: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint:fix, yarn test:ci related, yarn lint:css:fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx,astro}": [
    "yarn format",
    "yarn lint:fix",
    "yarn test:ci related"
  ],
  "src/**/*.scss": ["yarn lint:css:fix"]
}

fix: fix types to react
  tsconfig.json
Due: none

chore: add lints and remove storybook
  .eslintignore
  .eslintrc
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/style.css
  .storybook/viewports.ts
  README.md
  package.json
  src/components/atoms/Button/storybook/stories.tsx
  src/components/atoms/CounterButton/storybook/stories.tsx
  yarn.lock
Due: yarn format, yarn lint:fix, yarn test:ci related

style: format space
  src/env.d.ts
Due: yarn format, yarn lint:fix, yarn test:ci related

fix: add charset utf-8 and remove code duplicated
  src/layouts/RootLayout.astro
Due: yarn format, yarn lint:fix, yarn test:ci related

fix: add arg prod in workflow vercel
  .github/workflows/deploy-vercel.yml
Due: none

test: config tests
  .env.test
  .eslintignore
  .eslintrc
  .github/workflows/playwright.yml
  .gitignore
  astro.config.mjs
  package.json
  playwright.config.ts
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/atoms/Button/index.tsx
  src/components/atoms/CounterButton/__tests__/CounterButton.test.tsx
  src/components/atoms/CounterButton/index.tsx
  src/hooks/useCount/__tests__/useCount.test.ts
  src/tests/flows/README.md
  src/tests/helpFunctions/index.ts
  src/tests/mocks/style.ts
  src/tests/mocks/svg.ts
  src/tests/pages/home.spec.ts
  src/tests/providerComponent/index.tsx
  src/tests/providerHook/index.tsx
  src/tests/providerHook/types.ts
  vitest.config.ts
  yarn.lock
Due: yarn format, yarn lint:fix, yarn test:ci related

chore: update dependencies
  yarn.lock
Due: none

chore: update dependencies
  package.json
  vitest.config.ts
Due: none

chore: improvement configs
  .eslintrc
  astro.config.mjs
  playwright.config.ts
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/atoms/CounterButton/__tests__/CounterButton.test.tsx
  src/hooks/useCount/__tests__/useCount.test.ts
  src/tests/pages/home.spec.ts
  src/tests/providers/component/index.tsx
  src/tests/providers/hook/index.tsx
  src/tests/providers/hook/types.ts
  src/tests/providers/index.ts
  vitest.config.ts
Due: yarn format, yarn lint:fix, yarn test:ci related

feat: config and install tailwind and remove sass/stylelint
  .eslintignore
  .eslintrc
  .lintstagedrc
  .prettierrc.mjs
  .stylelintignore
  astro.config.mjs
  package.json
  postcss.config.js
  src/components/atoms/Button/index.tsx
  src/components/atoms/Button/styles.module.scss
  src/layouts/RootLayout.astro
  src/pages/_styles.module.scss
  src/pages/index.astro
  src/theme/_animations.scss
  src/theme/_borderRadius.scss
  src/theme/_boxShadows.scss
  src/theme/_breakpoints.scss
  src/theme/_colors.scss
  src/theme/_fonts.scss
  src/theme/_grids.scss
  src/theme/_index.scss
  src/theme/_spacings.scss
  src/theme/_zIndex.scss
  src/theme/globals.css
  src/theme/reset.css
  src/theme/reset.scss
  stylelint.config.cjs
  tailwind.config.ts
  vitest.config.ts
  yarn.lock
Due: yarn format, yarn lint:fix, yarn test:ci related, yarn lint:css:fix

chore: update tsconfig and rename postcss.config file
  postcss.config.cjs
  tsconfig.json
Due: none

Refactor components and update layout structure
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/atoms/Button/index.tsx
  src/components/atoms/Button/styles.module.scss
  src/components/atoms/CounterButton/__tests__/CounterButton.test.tsx
  src/components/layouts/RootLayout/RootLayout.astro
  src/components/providers/mainProvider/types.ts
Due: yarn format, yarn lint:fix, yarn test:ci related, yarn lint:css:fix

Refactor MainProvider type definition
  src/components/providers/mainProvider/index.tsx
  src/components/providers/mainProvider/types.ts
Due: yarn format, yarn lint:fix, yarn test:ci related

refactor(root): update import paths and apply module styles
  src/components/layouts/RootLayout/RootLayout.astro
  src/components/providers/MainProvider/index.tsx
  src/components/providers/MainProvider/types.ts
  src/pages/_styles.module.scss
  src/pages/index.astro
Due: yarn format, yarn lint:fix, yarn test:ci related, yarn lint:css:fix

chore(tsconfig): change moduleResolution to bundler
  tsconfig.json
Due: none
